<div class="jumbotron">
  <h1 class="text-center">{{actionLabel}} list</h1>
  <div [hidden]="!error" class="alert-danger" role="alert">
    <fa-icon [icon]="['fas', 'exclamation-triangle']"></fa-icon>
    <span class="text-center">{{error}}</span>
  </div>
  <form [formGroup]="listForm" *ngIf="listForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="label">Label</label>
      <input type="text" class="form-control" id="label" placeholder="Label *" formControlName="label" [class.is-invalid]="label.errors">
      <span *ngIf="label.errors && label.errors.notUnique" class="text-danger">label already exist.</span>
      <small id="typeHelp" class="form-text text-muted">Unique label require.</small>
    </div>
    
    <fieldset formArrayName="values" class="form-group">
      <legend>Binding values</legend>
      <div class="row"
        *ngFor="let item of this.listForm.get('values')['controls']; let i=index"
        [formGroup]="item">
        <div class="form-group col-12">
          <label [attr.for]="'value'+i" class="sr-only">Value</label>
            <button type="button" 
              class="btn btn-primary position-absolute"
              style="right:15px"
              (click)="this.listForm.get('values').removeAt(i)">-</button>
          <input type="text" class="form-control" [attr.id]="'value'+i" placeholder="Value *" formControlName="value">
        </div>
      </div>
      <button type="button" class="btn btn-link"
      (click)="addNewItem()">Add another binding value</button>
    </fieldset>

    <div class="form-group">
      <button type="submit" class="btn btn-outline-success btn-block" [disabled]="!listForm.valid">{{actionLabel}}</button>
      <a routerLink="{{returnUrl}}" class="btn btn-outline-secondary btn-block">Cancel</a>
    </div>
  </form>
</div>

